/* 访客 */
.vip-fk-icon {
    background-image: url('../image/vip/icon1.png');
}

/* 礼物 */
.vip-gif-icon {
    background-image: url('../image/vip/icon2.png');
}

/* 勋章 */
.vip-xz-icon {
    background-image: url('../image/vip/icon3.png');
}

/* 资料卡 */
.vip-zl-icon {
    background-image: url('../image/vip/icon4.png');
}

/* 无阻 */
.vip-wz-iconw {
    background-image: url('../image/vip/icon5-white.png');
}

/* 无阻 */
.vip-wz-icon {
    background-image: url('../image/vip/icon5.png');
}

/* 一键 @ */
.vip-yj-iconw {
    background-image: url('../image/vip/icon6-white.png');
}

/* 一键 @ */
.vip-yj-icon {
    background-image: url('../image/vip/icon6.png');
}

/* 广播 */
.vip-gb-iconw {
    background-image: url('../image/vip/icon7-white.png');
}

/* 昵称 */
.vip-nick-iconw {
    background-image: url('../image/vip/icon8-white.png');
}

/* 贵族入场 */
.vip-rc-iconw {
    background-image: url('../image/vip/icon9-white.png');
}

/* 隐身 */
.vip-hide-iconw {
    background-image: url('../image/vip/icon10-white.png');
}

/* 消息回执 */
.vip-msg-iconw {
    background-image: url('../image/vip/icon11-white.png');
}

/* 弹幕 */
.vip-dm-iconw {
    background-image: url('../image/vip/icon12-white.png');
}

/* 消息底纹 */
.vip-msgbg-iconw {
    background-image: url('../image/vip/icon13-white.png');
}

/* 悄悄查看消息 */
.vip-checkmsg-iconw {
    background-image: url('../image/vip/icon14-white.png');
}

/* 置顶 */
.vip-top-iconw {
    background-image: url('../image/vip/icon15-white.png');
}

/* 客服 */
.vip-service-iconw {
    background-image: url('../image/vip/icon16-white.png');
}

/* 防踢 */
.vip-ti-iconw {
    background-image: url('../image/vip/icon17-white.png');
}

/* 防禁言 */
.vip-ban-iconw {
    background-image: url('../image/vip/icon18-white.png');
}

/* 禁言 */
.vip-banmsg-iconw {
    background-image: url('../image/vip/icon19-white.png');
}

/* 推荐上热门 */
.vip-hot-iconw {
    background-image: url('../image/vip/icon20-white.png');
}

/* 权威 */
.vip-qw-iconw {
    background-image: url('../image/vip/icon21-white.png');
}

/* 昭告 */
.vip-zg-iconw {
    background-image: url('../image/vip/icon22-white.png');
}

/* 宝库 */
.vip-bk-iconw {
    background-image: url('../image/vip/icon23-white.png');
}





/* 广播 */
.vip-gb-icon {
    background-image: url('../image/vip/icon7.png');
}

/* 昵称 */
.vip-nick-icon {
    background-image: url('../image/vip/icon8.png');
}

/* 贵族入场 */
.vip-rc-icon {
    background-image: url('../image/vip/icon9.png');
}

/* 隐身 */
.vip-hide-icon {
    background-image: url('../image/vip/icon10.png');
}

/* 消息回执 */
.vip-msg-icon {
    background-image: url('../image/vip/icon11.png');
}

/* 弹幕 */
.vip-dm-icon {
    background-image: url('../image/vip/icon12.png');
}

/* 消息底纹 */
.vip-msgbg-icon {
    background-image: url('../image/vip/icon13.png');
}

/* 悄悄查看消息 */
.vip-checkmsg-icon {
    background-image: url('../image/vip/icon14.png');
}

/* 置顶 */
.vip-top-icon {
    background-image: url('../image/vip/icon15.png');
}

/* 客服 */
.vip-service-icon {
    background-image: url('../image/vip/icon16.png');
}

/* 防踢 */
.vip-ti-icon {
    background-image: url('../image/vip/icon17.png');
}

/* 防禁言 */
.vip-ban-icon {
    background-image: url('../image/vip/icon18.png');
}

/* 禁言 */
.vip-banmsg-icon {
    background-image: url('../image/vip/icon19.png');
}

/* 推荐上热门 */
.vip-hot-icon {
    background-image: url('../image/vip/icon20.png');
}

/* 权威 */
.vip-qw-icon {
    background-image: url('../image/vip/icon21.png');
}

/* 昭告 */
.vip-zg-icon {
    background-image: url('../image/vip/icon22.png');
}

/* 宝库 */
.vip-bk-icon {
    background-image: url('../image/vip/icon23.png');
}